$main-color: #ff6060;
$white-color: #ffffff;
$black-color: #000000;
$background-color: #F6F6F6;

$breakpoint-smallmobile: 375px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 992px;

@mixin text-style($weight, $color) {
  font-family: 'Montserrat', sans-serif;
  font-weight: $weight;
  color: $color;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $breakpoint == smallmobile {
    @media (max-width: $breakpoint-smallmobile) {
      @content;
    }
  }
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  max-width: 1224px;
  margin: auto;
  padding: 50px 20px 0;
  box-sizing: border-box;
  
  @include responsive(tablet) {
    padding-top: 30px;
  }
  
  @include responsive(mobile) {
    padding: 20px;
    margin: 0 auto;
  }
  
  &__logo {
    height: auto;
    
    @include responsive(tablet) {
      width: 150px;
    }
    
    @include responsive(mobile) {
      width: 120px;
    }
  }
  
  &__link--container {
    display: flex;
    gap: 70px;
    
    @include responsive(tablet) {
      gap: 40px;
    }
    
    @include responsive(mobile) {
      gap: 20px;
    }
  }
  
  &__link {
    text-decoration: none;
    font-size: 24px;
    @include text-style(500, $black-color);
    
    @include responsive(tablet) {
      font-size: 20px;
    }
    
    @include responsive(mobile) {
      font-size: 16px;
      text-transform: uppercase;
    }
  }
  
  &__link:hover {
    text-decoration: underline;
  }
}

.banner {
  position: relative;
  width: 100%;
  max-width: 1224px;
  margin: 50px auto;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: solid 1px black;
  overflow: hidden;
  box-sizing: border-box;
  
  background: {
    size: cover;
    position: center;
    repeat: no-repeat;
  }
  
  @include responsive(tablet) {
    margin: 30px auto;
    height: 200px;
    border-radius: 15px;
  }
  
  @include responsive(mobile) {
    width: 95%;
    margin: 30px auto;
    border-radius: 10px;
  }

  @include responsive(smallmobile){
    height: 130px;
    width: 89%;

  }
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  &__title {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 46px;
    }  
    @include text-style(700, $white-color);
    
    @include responsive(mobile) {
      p {
        font-size: 20px;
        text-align: start;
        padding-left: 15px;
      }
    }
    @include responsive(smallmobile) {
      P {
        max-width: 340px;
        font-size: 20px;
        padding-left: 15px;
        padding-right: 122px;

      }
    }
  }
} 

.home-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1224px;
  margin: auto;
  margin-bottom: 30px;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 40px 20px;
  border-radius: 25px;
  box-sizing: border-box;
  
  @include responsive(tablet) {
    padding: 30px 15px;
    border-radius: 15px;
  }
  
  @include responsive(mobile) {
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
  }
}

.card {
  position: relative;
  width: 340px;
  height: 340px;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
  @include responsive(tablet) {
    width: 300px;
    height: 300px;
  }
  
  @include responsive(mobile) {
    width: 100%;
    height: 250px;
  }
  
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  &__title-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    max-width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: #ff6060;
    padding: 0 10px;
    box-sizing: border-box;
    
    @include responsive(mobile) {
      height: 50px;
    }
  }
  
  &__title {
    font-size: 18px;
    text-align: start;
    @include text-style(700, $white-color);
    
    @include responsive(mobile) {
      font-size: 16px;
    }
  }
}

.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1224px;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 20px;
  box-sizing: border-box;
  
  @include responsive(mobile) {
    margin-top: 15px;
  }

  &__content {
    position: relative;
    max-width: 1224px;
    width: 100%;
    text-align: left;
  }

  &__image {
    display: block;
    width: 100%;
    height: 415px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 15px;
    
    @include responsive(tablet) {
      height: 350px;
    }
    
    @include responsive(mobile) {
      height: 250px;
      border-radius: 10px;
    }
  }
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1224px;
    margin: 0 auto;
    padding-top: 30px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 10px 0;
    color: white;
    
    @include responsive(mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 36px;
    @include text-style(700, $main-color);
    
    @include responsive(tablet) {
      font-size: 28px;
    }
    
    @include responsive(mobile) {
      font-size: 24px;
    }
  }

  &__location {
    font-size: 18px;
    margin-bottom: 10px;
    @include text-style(500, $black-color);
    
    @include responsive(mobile) {
      font-size: 16px;
    }
  }

  &__host {
    display: flex;
    align-items: center;
    
    @include responsive(mobile) {
      margin-top: 15px;
      align-self: flex-end;
    }
  }

  &__host-name {
    font-size: 18px;
    max-width: 100px;
    text-align: end;
    padding-right: 5px;
    @include text-style(500, $main-color);
    
    @include responsive(mobile) {
      font-size: 16px;
    }
  }

  &__host-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    
    @include responsive(tablet) {
      width: 50px;
      height: 50px;
    }
    
    @include responsive(mobile) {
      width: 40px;
      height: 40px;
    }
  }

  &__tags-rating {
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    
    @include responsive(mobile) {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__tags {
    @include text-style(700, $main-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  
  &__tag {
    background-color: $main-color;
    color: $white-color;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 14px;
    
  }
  @include responsive(mobile) {
    font-size: 12px;
    padding: 3px 10px;
 
  }


  &__rating {
    display: flex;
    align-items: center;
    
    @include responsive(mobile) {
      align-self: flex-start;
    }
  }

  &__star {
    font-size: 24px;
    margin: 0 2px;
    color: #E3E3E3;
    
    @include responsive(tablet) {
      font-size: 20px;
    }
    
    @include responsive(mobile) {
      font-size: 18px;
    }
    
    &.filled {
      color: $main-color;
    }
  }

  &__collapses {
    display: flex;
    width: 100%;
    max-width: 1224px;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    
    @include responsive(mobile) {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__collapse {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    
    @include responsive(mobile) {
      width: 100%;
      margin-bottom: 10px;
    }

    &-header {
      width: 100%;
      background-color: $main-color;
      color: $white-color;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
    }
    
    &-title {
      font-size: 18px;
      @include text-style(700, $white-color);
      
      @include responsive(mobile) {
        font-size: 16px;
      }
    }
    
    &-arrow {
      transition: transform 0.5s;
      color: $white-color;
      
      &.rotated {
        transform: rotate(-180deg);
      }
    }
    
    &-content {
      background-color: $background-color;
      padding: 20px;
      border-radius: 0 0 5px 5px;
      width: 100%;
      box-sizing: border-box;
      
      @include responsive(mobile) {
        padding: 15px;
      }
    } 
  }
  
  p, ul {
    margin: 0;
    padding: 0;
    @include text-style(400, $black-color);
  }
      
  ul {
    list-style-type: none;
      
    li {
      margin-bottom: 5px;
    }
  }

  .open &__collapse-arrow {
    transform: rotate(180deg);
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    
    @include responsive(tablet) {
      font-size: 50px;
    }
    
    @include responsive(mobile) {
      font-size: 30px;
    }
  }

  &__prev {
    left: 10px;
  }

  &__next {
    right: 10px;
 
  }

  &__counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);      
    font-size: 18px;
    @include text-style(500, $white-color);
    
    @include responsive(mobile) {
      font-size: 14px;
    }
  }
}

.collapse {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  
  @include responsive(mobile) {
    padding: 20px;
  }
  &__arrow {
    transition: transform 0.8s;
    
    &.rotated {
      transform: rotate(-180deg);
    }
  }
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    gap: 15px;
    font-size: 24px;
    padding: 15px;
    border: none;
    cursor: pointer;
    text-align: left;
    background-color: #ff6060;
    @include text-style(700, $white-color);
    box-sizing: border-box;
    
    @include responsive(tablet) {
      font-size: 20px;
      padding: 12px;
    }
    
    @include responsive(mobile) {
      font-size: 16px;
      padding: 10px;
      border-radius: 10px;
    }
  }

  
  &__content {
    font-size: 16px;
    background-color: #F6F6F6;
    padding: 15px;
    border-radius: 10px;
    @include text-style(500, $black-color);
    
    @include responsive(mobile) {
      font-size: 14px;
      padding: 10px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  background-color: #000000;
  padding: 20px 0;
  box-sizing: border-box;
  
  @include responsive(mobile) {
    margin-top: 30px;
  }
  
  &__logo {
    padding-top: 40px;
    
    @include responsive(mobile) {
      padding-top: 20px;
      width: 120px;
    }
  }
  
  &__title {
    font-size: 24px;
    text-align: center;
    padding: 0 20px;
    @include text-style(500, $white-color);
    
    @include responsive(tablet) {
      font-size: 20px;
    }
    
    @include responsive(mobile) {
      font-size: 16px;
    }
  }
}

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  
  &__title {
    font-size: 160px;
    margin: 100px 0;
    @include text-style(700, $main-color);
    
    @include responsive(tablet) {
      font-size: 120px;
      margin: 70px 0;
    }
    
    @include responsive(mobile) {
      font-size: 80px;
      margin: 50px 0;
    }
  }
  
  &__texte {
    font-size: 36px;
    margin-bottom: 110px;
    text-align: center;
    @include text-style(500, $main-color);
    
    @include responsive(tablet) {
      font-size: 28px;
      margin-bottom: 80px;
    }
    
    @include responsive(mobile) {
      font-size: 20px;
      margin-bottom: 50px;
    }
  }
  
  &__link {
    font-size: 18px;
    margin-bottom: 100px;
    @include text-style(500, $black-color);
    
    @include responsive(mobile) {
      font-size: 16px;
      margin-bottom: 50px;
    }
  }
}

